<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Cover Template · Bootstrap</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    .position-list-move {
      transition: transform 0.4s ease;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="cover.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@3.0.4/dist/vue.global.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
      </div>
    </header>

    <main role="main" class="inner cover">
      <div id="order" class="demo">
        <div class="row mb-3">
          <div id="short" class="col-6">
            <transition-group name="position-list" tag="ul" class="list-group">
              <li v-for="item in short" :key="item" class="list-group-item list-group-item-primary">
                {{ item }}
              </li>
            </transition-group>
          </div>
          <div id="long" class="col-6">
            <transition-group name="position-list" tag="ul" class="list-group">
              <li v-for="item in long" :key="item" class="list-group-item list-group-item-danger">
                {{ item }}
              </li>
            </transition-group>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-3">
            <button @click="sell_open" type="button" class="btn btn-primary">Sell</button>
          </div>
          <div class="col-6">
            <input v-model="price" class="form-control" />
          </div>
          <div class="col-3">
            <button @click="buy_open" type="button" class="btn btn-danger">Buy</button>
          </div>
        </div>
        <div class="row float-right">
          <!-- <p>Current price: {{ price }}</p> -->
          <div>
            <button @click="reset" type="button" class="btn btn-warning">Reset</button>
          </div>
        </div>
      </div>
    </main>
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Footer here.</p>
      </div>
    </footer>
  </div>
  <script src="app.js"></script>
</body>

</html>